# Dependencies
node_modules/

# Coverage
coverage

# Transpiled files
build/

# Logs
logs
*.log
npm-debug.log*

# VS Code
.vscode
!.vscode/tasks.js

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
.DS_Store
OS junk files
[Tt]humbs.db
*.DS_Store

#Project files
[Bb]uild/

# Office Temp Files
~$*